
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
	text-align: center;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: center; /* centers logo and title */
    gap: 15px; /* space between logo and text */
}

.logo {
    width: 70px;  /* adjust size as you like */
    height: 70px;
    border-radius: 50%; /* makes it circular, optional */
    object-fit: cover;  /* keeps logo proportional */
}
nav {
            background-color: #555;
            padding: 10px 20px;
            text-align: center;
        }
nav a {
            color: #fff;
            text-decoration: none;
            padding: 10px 20px;
        }
        nav a:hover {
            background-color: #777;
        }


.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.footer-column {
    flex: 1;
    padding: 0 20px;
}

.footer-column h3 {
    margin-bottom: 20px;
}

.footer-column p {
    margin-bottom: 10px;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-media a {
    margin: 0 10px;
}

.social-media img {
    width: 30px;
    height: 30px;
}


.option {
    position: relative;
    display: inline-block;
    margin: 20px;
    text-align: center;
}

.option a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.option img {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    border: 2px solid #007bff; 
    transition: transform 0.2s ease; 
    position: relative; 
}

.option img:hover {
    transform: scale(1.1); 
}

.text-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -60%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    color: #fff;
    display: none;
    z-index: 1; 
}

.option:hover .text {
    opacity: 0;
}

.option:hover .text-info {
    display: block;
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 25%;
    padding: 15px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

#scrollToTopBtn img {
    width: 20px; 
}

#scrollToTopBtn:hover {
    background-color: #0056b3;
}
