* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}
nav {
            background-color: #555;
            padding: 10px 20px;
            text-align: center;
        }
nav a {
            color: #fff;
            text-decoration: none;
            padding: 10px 20px;
        }
nav a:hover {
            background-color: #777;
        }

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.image-quote {
    margin-bottom: 30px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

blockquote {
    margin-top: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

blockquote p {
    font-size: 18px;
    margin-bottom: 10px;
}

blockquote cite {
    font-style: italic;
    font-size: 14px;
}
  
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}
#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 25%;
    padding: 15px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

#scrollToTopBtn img {
    width: 20px; 
}

#scrollToTopBtn:hover {
    background-color: #0056b3;
}